apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: postgres
  namespace: {{ namespace }}
spec:
  rules:
  - host: postgres.example.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: postgres
            port:
              number: 5432

