apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
  namespace: {{ namespace }}
spec:
  serviceName: "postgres"
  replicas: {{ postgres_replicas }}
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      # Убираем глобальный securityContext, который ломает права на local-path
      # securityContext:
      #   fsGroup: 999
      containers:
        - name: postgres
          image: {{ postgres_image }}
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_PASSWORD
              value: "{{ postgres_password }}"
            - name: POSTGRES_USER
              value: "{{ postgres_user }}"
            - name: POSTGRES_DB
              value: "{{ postgres_db }}"
          # Добавляем securityContext только для контейнера
          securityContext:
            runAsUser: 999
            runAsGroup: 999
            fsGroup: 999
          volumeMounts:
            - name: data
              mountPath: /var/lib/postgresql/data
              subPath: pgdata # <-- Важно: пишем в подкаталог
          readinessProbe:
            exec:
              command: ["pg_isready", "-U", "{{ postgres_user }}", "-d", "{{ postgres_db }}"]
            initialDelaySeconds: 5
            periodSeconds: 5
          livenessProbe:
            exec:
              command: ["pg_isready", "-U", "{{ postgres_user }}", "-d", "{{ postgres_db }}"]
            initialDelaySeconds: 30
            periodSeconds: 10
          resources:
            requests:
              memory: "512Mi"
              cpu: "200m"
            limits:
              memory: "800Mi"
              cpu: "400m"
  volumeClaimTemplates:
    - metadata:
        name: data
      spec:
        accessModes: ["ReadWriteOnce"]
        resources:
          requests:
            storage: {{ postgres_storage_size }}
        storageClassName: local-path
